.example-courses-div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flex-center {
  width: 100%;
  text-align: center;
}

.example-course-div {
  border: 2px solid #000000;
  border-radius: 5px;
  height: 50px;
  width: max(250px, 22%);
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 10px;
}

.example-course-image {
  width: 70%;
  padding: 2%;
  border: 3px solid black;
  margin-bottom: 5%;
  box-shadow: -10px 10px 0 -3px white, -10px 10px black, -20px 20px 0 -3px white,
    -20px 20px black, -30px 30px 0 -3px white, -30px 30px black,
    -40px 40px 0 -3px white, -40px 40px black;
}

.example-course-div:hover {
  background-color: #499b80;
}

.example-course-text {
  font-family: "Lexend", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
  margin: 0;
}

.example-image {
  height: 25px;
  width: 25px;
  margin: 10px;
}

@media screen and (max-width: 650px) {
  .example-course-image {
    width: 100%;
    margin-bottom: 50px;
    padding: 2%;
    border: 2px solid black;
    box-shadow: -10px 10px 0 -2px white, -10px 10px black,
      -20px 20px 0 -2px white, -20px 20px black, -30px 30px 0 -2px white,
      -30px 30px black, -40px 40px 0 -2px white, -40px 40px black;
  }

  .example-course-div {
    margin: 2px;
  }
}
