.waiting-div {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: center;
}

.waiting-text {
  width: 50%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-button {
  background: #e3ffea;
  border-radius: 10px;
  width: 300px;
  padding: 2%;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lexend", serif;
  border: 2px solid black;
  max-height: 75px;
  min-height: 50px;
  transition: border 0.5s ease;
}

.intro-button:hover {
  border: 3px solid black;
}
/* If the display is less than 600 it's a mobile device*/
@media only screen and (max-width: 700px) {
  .waiting-text {
    width: 100%;
  }

  .waiting-div {
    flex-wrap: wrap;
  }

  .intro-button {
    height: 50px;
    width: auto;
    margin: 20px 5px;
  }
}
