.pricing-page-main {
  width: 80vw;
  height: 100vh;
  margin: auto;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cost-cards-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5% 0%;
  padding: 15px;
}

.cost-card,
.cost-card-selected {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 46px 34px;
  gap: 30px;
  border: 2px solid #000000;
  border-radius: 5px;
  width: 28%;
  justify-content: center;
}

.recommended-bar,
.locked-bar {
  width: 100%;
  background: #cdffc5;
  border: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.locked-bar {
  background: #ffc5c5;
}

.current-plan-bar {
  width: 100%;
  background: #c5e5ff;
  border: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.recommended-bar > p,
.current-plan-bar > p,
.locked-bar > p {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
  margin: 0;
}

.cost-card-title {
  display: flex;
  align-items: flex-end;
}

.cost-card-title > h3 {
  font-family: "Lexend", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin: 5px;
  color: #000000;
}
.cost-card-title > p {
  margin-left: 10px;
  font-family: "Lexend", serif;
  font-style: normal;
  font-weight: 400;
  color: #000000;
}

.cost-card-property {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 500;
  font-size: max(12px, 1vw);
  color: #000000;
  text-align: left;
  margin: 0;
}
.recipet {
  text-align: right;
}

.cost-card-selected {
  background-color: #f5ffe9;
  width: 35%;
  height: 110%;
}

.checkout-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 100px;
  gap: 15px;
  width: 100%;
  background: #cdffc5;
  border: 2px solid #000000;
  border-radius: 10px;
}

/* Stripe Overlay */
.overlay-loading-main {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.overlay-loading-main-div {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 30px;
  column-gap: 20px;
}

.loading-text {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

@media screen and (max-width: 700px) {
  .cost-cards-div {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .cost-card,
  .cost-card-selected {
    width: 500px;
    margin: 5px;
  }

  .cost-card-selected {
    height: 100%;
  }

  .cost-heading {
    padding-top: 2vh;
  }

  .cost-card-property {
    width: 150px;
  }
}
