.why-background {
  min-height: 80vh;
  width: 100vw;
  padding: 2%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-image: url("../../../assets/rectangle.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes opacity-loading {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.why-background-unskewed {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.why-background-unskewed > * {
  animation-name: opacity-loading;
  animation-duration: 4s;
}

.why-top-part {
  height: 10%;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: var(--black);
  width: 90%;
  display: flex;
  justify-content: left;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5%;
}

.why-main-part {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.why-main-left {
  flex: 3;
  min-width: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.why-main-right {
  flex: 2;
  min-width: 300px;
}

.why-span-green-text {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  /* identical to box height */

  text-align: center;
  text-decoration-line: underline;
  color: var(--green);
  -webkit-text-fill-color: var(
    --green
  ); /* Will override color (regardless of order) */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.why-main-text-box {
  border-left: 10px solid var(--green);
  width: 90%;
  margin-top: 5%;
  font-size: 18px;
  padding: 5%;
  box-sizing: border-box;
}

.why-main-text-box > p {
  line-height: 40px;
}

.why-img {
  size: 30vw;
  height: 30vw;
}

/* If the display is less than 600 it's a mobile device*/
@media only screen and (max-width: 600px) {
  .why-top-part {
    margin-top: 5%;
    font-size: 30px;
  }

  .why-span-green-text {
    font-size: 30px;
  }
  .why-main-text-box {
    font-size: 15px;
    width: 80%;
  }
}
