.how-main-div {
  width: 100%;
  background-color: #ffffff;
}

.how-main-text {
}

.how-top-part {
  height: 10%;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: #000000;
  width: 90%;
  display: flex;
  justify-content: left;
  margin-left: 5%;
  margin-right: 2%;
  padding-top: 5%;
}

.how-span-green-text {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  /* identical to box height */

  text-align: center;
  text-decoration-line: underline;
  color: #e4ffb7;
  -webkit-text-fill-color: #e4ffb7; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.how-bottom-div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 5%;
  padding-bottom: 5%;
}

.how-bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.how-bottom-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  min-width: 300px;
}

.how-image-left {
  width: 60%;
  height: auto;
}

.how-bottom-top {
  min-width: 300px;
  width: 80%;
  margin-right: auto;
  border-left: 10px solid #e4ffb7;
}

.how-bottom-bottom {
  min-width: 300px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-left: 10px solid #e4ffb7;
}

.how-main-text-body {
  font-weight: 600;
  font-size: 15px;
}

@media screen and (max-width: 500px) {
  .how-bottom-left {
    margin-left: auto;
    margin-right: auto;
  }
}
