.button-primary,
.button-blue,
.button-green {
  background: var(--white);
  border: 1px solid var(--green);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  min-height: 80%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.button-blue {
  background: #d9edff;
  border: 0px;
  color: var(--light-blue);
}

.button-blue:hover {
  background: #9dd0ff;
  border: 0px;
  color: var(--white);
}

.button-primary:hover {
  background: var(--green-dark);
  border: 1px solid var(--black);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-text {
  font-weight: 700;
  font-size: 18px;
  margin: 10px;
}

.button-blue-text {
  font-size: 15px;
  margin: 10px;
}

.button-green {
  background: var(--green);
  border: 0px;
  color: var(--light-blue);
  width: 30%;
}

.button-green:hover {
  background: var(--green-dark);
  border: 0px;
  color: var(--white);
}
