.button-primary,
.button-blue,
.button-green {
  width: 70%;
  padding: 3%;
  background: #bcf2c9;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

  border-radius: 10px;
  outline: none;
  border: none;
  transition: 0.5s background-color ease;
}

.button-primary > p,
.button-blue > p,
.button-green > p {
  margin: 0;
}

.button-blue {
  background: #d9edff;
  border: 0px;
  color: var(--light-blue);
}

.button-blue:hover {
  background: #9dd0ff;
  border: 0px;
  color: var(--white);
}

.button-primary:hover {
  background: var(--green-dark);
  border: 1px solid var(--black);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-text {
  font-weight: 700;
  font-size: 18px;
  margin: 10px;
}

.button-blue-text {
  font-size: 15px;
  margin: 10px;
}

.button-green {
  background: var(--green);
  border: 0px;
  color: var(--light-blue);
  width: 30%;
}

.button-green:hover {
  background: var(--green-dark);
  border: 0px;
  color: var(--white);
}

.button-primary-green,
.button-primary-blue,
.button-primary-red {
  background-color: #d0f98d;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 6%;
  height: 69px;
  border: 2px solid black;
  font-family: "Lexend", serif;
  min-width: 100px;
  transition: 0.2s background-color ease;
}

.button-primary-blue {
  background: #8ddff9;
}

.button-primary-red {
  background: #f9938d;
}

.button-primary-green:hover {
  background: #5f753c;
}

.button-primary-blue:hover {
  background: #456c78;
}

.button-primary-red:hover {
  background: #573330;
}

.button-primary-green > p,
.button-primary-blue > p,
.button-primary-red > p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #000000;
  margin: 0;
}

.button-primary-green:hover > p,
.button-primary-blue:hover > p,
.button-primary-red:hover > p {
  color: var(--white);
}
