.game-over-title {
  margin-top: 2%;
}

.game-over-info {
  width: 80%;
  text-align: center;
}

.game-over-line {
  width: 100%;
  border-bottom: 1px solid var(--black);
}

.spaced-button {
  margin: 10% 0%;
}

@media screen and (max-width: 600px) {
  .game-over-title {
    margin-top: 20%;
  }
}
