.game-over-title {
  margin-top: 20%;
}

.game-over-info {
  width: 80%;
  text-align: center;
}

.game-over-line {
  width: 100%;
  border-bottom: 1px solid var(--black);
}

.spaced-button {
  margin: 10% 0%;
}
