.course-landing-main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.course-landing-title {
  min-height: 5vh;
  width: 70%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
  font-weight: 700;
  font-size: 50px;
  color: var(--white);
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  line-height: 1.2;
  display: flex;
  align-items: center;
}

.course-content-lessons {
  outline: solid 3px #000;
  min-height: 100vh;
  width: 100%;
  background-color: var(--white);
  padding: 5% 10%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.course-landing-information {
  display: flex;
}

.course-landing-content-section {
  /* This is the section i.e. courses*/
  width: 85%;
}

.course-landing-content-title {
  font-size: 20px;
  text-align: left;
  color: var(--black);
}

.course-landing-content-section-child {
  /* This is the thing with the left border  */
  min-width: 350px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: repeat(auto-fit, 360px);
  row-gap: 20px;
  column-gap: 50px;
  grid-auto-rows: minmax(100px, auto);
  justify-content: flex-start;
}

.course-content-card-right {
  min-width: 300px;
  width: 35%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.course-breadcrumbs {
  min-height: 5vh;
  width: 90%;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
}

.course-icon-size {
  height: 30px;
}

.course-landing-time,
.course-landing-difficulty {
  display: flex;
  width: 15%;
  align-items: center;
  height: 100px;
  justify-content: space-evenly;
}

.course-landing-time > p,
.course-landing-difficulty > p {
  margin: 0px;
}

@media screen and (max-width: 600px) {
  .course-landing-content-section-child {
    max-width: 300px;
    min-width: 0px;
    border-right: 0px;
  }

  .course-content-card-right {
    height: auto;
  }

  .course-landing-content-section {
    margin-top: 20%;
  }

  .course-landing-information {
    flex-wrap: wrap;
  }

  .course-landing-title {
    width: 100%;
  }

  .course-landing-time,
  .course-landing-difficulty {
    width: 40%;
  }
}
