.emotional-main-div {
  width: 100%;
  background-color: var(--white);
}

.emotional-title {
  display: flex;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: var(--black);
  justify-content: left;
  align-items: center;
}

.emotional-title-green {
  /* identical to box height */
  text-align: center;
  text-decoration-line: underline;
  color: var(--green);
  -webkit-text-fill-color: var(
    --green
  ); /* Will override color (regardless of order) */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.emotional-title-text {
  margin-left: 5%;
  max-width: 80%;
  min-width: 300px;
}

.emotional-brand-pill {
  min-width: 100px;
  font-size: 20px;
  text-decoration: none;
  color: var(--white);
  -webkit-text-fill-color: var(
    --white
  ); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  background-color: var(--green);
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border: var(--black) 1px solid;
  display: flex;
  align-items: center;
  height: 50px;
}

.emotional-cards {
  width: 90%;
  min-height: 500px;
  padding-bottom: 2%;
  padding-top: 2%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.emotional-cols {
  width: 30%;
  min-width: 300px;
  height: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.emotional-text-1,
.emotional-text-2,
.emotional-text-3,
.green-box {
  width: 100%;
  height: 100px;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.green-box {
  background-color: var(--green);
}

.emotional-text-1,
.emotional-text-2,
.emotional-text-3 {
  background: var(--white);
  padding: 10%;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  width: 100%;
}

.emotional-text-1 {
  flex: 3;
}

.placeholder-1,
.emotional-text-2,
.emotional-text-3 {
  flex: 1;
}

.emotional-brand-pill-text {
  margin: 0;
}

@media screen and (max-width: 500px) {
  .green-box {
    flex: 0;
  }

  .emotional-title {
    margin: auto;
    justify-content: center;
    font-size: 40px;
  }

  .emotional-title-text {
    margin: 0;
  }
}
