.testing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50vw;
  height: 50vh;
  margin: auto;
}

.minigame-transition-div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #951818;
  border-radius: 10px;
  border: 3px solid black;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Lexend, serif;
  gap: 20px;
}

.minigame-buttons {
  height: 50px;
  width: 50px;
  background: none;
  border: none;
  outline: none;
  padding: 5px;
}

.minigame-buttons > img {
}

/* Deception Detection minigame */
.minigame-video {
  transition: 0.3s cubic-bezier(0.3, 0, 0.4, 1) opacity;
  opacity: 1;
  height: 100%;
  width: 100%;
  z-index: -2;
  position: absolute;
  padding: 2%;
  box-sizing: border-box;
  top: 0;
  left: 0;
  border-radius: 25px;
  object-fit: contain;
  background: black;
}

.overlay-source {
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
}

.deception-detection-title {
  width: 100%;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  color: white;
  font-family: "Lexend";
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  border-bottom: 2px solid black;
}

.deception-detection-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  height: 20%;
}
