.lesson-breadcrumbs {
  min-height: 5vh;
  width: 90%;
  padding: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

.lesson-landing-body-markdown {
  text-align: left;
}

.lesson-landing-body-markdown > p {
  width: 100%;
}

.lesson-landing-body-markdown > p > img {
  height: 250px;
  width: 250px;
  margin-left: calc(50% - 125px);
}

.lesson-landing-content-section {
  /* This is the section i.e. courses*/
  width: 100%;
  margin: auto;
  height: 90vh;
}
