.academy-content-minigame {
  background: var(--white);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  height: 350px;
  aspect-ratio: 5 / 7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  -webkit-animation: boxshadowin 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: boxshadowin 5s; /* Firefox < 16 */
        -ms-animation: boxshadowin 5s; /* Internet Explorer */
         -o-animation: boxshadowin 5s; /* Opera < 12.1 */
            animation: boxshadowin 5s;
}

.academy-content-minigame:hover {
  background: var(--light-green);
  height: 370px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
}

.academy-content-minigame > * {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}


.academy-content-minigame-image {
  flex: 8;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.academy-content-minigame-image-data {
  aspect-ratio: 1/1;
}

.academy-content-minigame-title {
  flex: 4;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 500;
  font-size: 18px;
  text-align: left;
  display: flex;
  align-items: flex-end;
  margin: 0;
  color: var(--black);
}

.academy-content-minigame-title > p {
  margin: 5px;
}

.academy-content-minigame-info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
  padding: 2% 10%;
  font-weight: 500;
  font-size: 10px;
  color: var(--black);
  margin-bottom: 10px;
}

.academy-content-minigame-info > p {
  margin: 0px 10px;
}
