.assessment-landing-header,
.assessment-landing-header-selected {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 50px 20px 50px;
  gap: 10px;
  background-color: #f8b8b8;
  width: 100%;
}

.assessment-landing-header-selected {
  margin: 5px 25px 5px 25px;
  gap: 0;
  border-radius: 5px;
  background: #f8b8b8;
  border: 3px solid #000000;
  animation: 1s alternate slidein;
  width: calc(100vw - 50px);
}

@keyframes slidein {
  from {
    margin: 0px;
    padding: 20px 50px 20px 50px;
    gap: 10px;
    background-color: #f8b8b8;
    border: 0px solid black;
  }

  to {
    margin: 5px 25px 5px 25px;
    gap: 0;
    border-radius: 5px;
    background: #f8b8b8;
    border: 3px solid #000000;
  }
}

.assessment-landing-header-text {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: right;
  justify-content: flex-end;

  color: #ffffff;

  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
  max-width: 100%;
}

.assessment-landing-header-button {
  cursor: pointer;
  background: #8c4040;
  border: 3px solid #000000;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.assessment-landing-header-button:active,
.assessment-landing-header-button:focus,
.assessment-landing-header-button:hover {
  background: #8c4040;
  border: 3px solid #000000;
}

/* Introduction Data  */
.negotiation-assessment-landing-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.negotiation-landing-img {
  width: 50%;
}

.negotiation-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px;
  width: 50%;
  height: 80%;
}

.assessment-landing-intro-subheading {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  /* line-height: 235.02%; */
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.assessment-landing-text {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 235.02%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.assessment-landing-intro-button,
.assessment-landing-intro-button:focus {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 235.02%;
  /* identical to box height, or 47px */

  display: flex;
  align-items: center;
  background: #ff6a6a;
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 10px 30px;
}

/* Initialise the chat */
.initialisation-chat-div {
  animation: 2s ease-in initilizeChat;
  width: 100%;
}

@keyframes initilizeChat {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.initilisation-input,
.initilisation-input-voice {
  border: 1px solid black;
  border-radius: 5px;
  width: min(100%, 350px);
  margin: 5px;
  padding: 5px;
}

.initilisation-input-voice {
  border: none;
}

.initilisation-label {
  width: min(95%, 400px);
  padding: 5px;

  text-align: left;
  font-size: 1rem;
  font-family: Lexend, serif;
  font-weight: 500;
}

.initilisation-input:focus,
.initilisation-input:active {
  background-color: #fff6f6;
  outline: 2px solid #ffd9d9;
  border: none;
}

.initilisation-input-voice:focus {
  background-color: #eefffd;
}

.initilisation-button-group {
  width: max(50%, 400px);
  margin: auto;
  gap: 10px;
  display: flex;
  justify-content: space-evenly;
}

.assessment-button {
  padding: 15px 30px;
  border-radius: 5px;
  border: 2px solid black;
}

/* Chat Room */
.chat-main-div {
  width: min(95%, 500px);
  min-height: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.chat-container {
  position: relative;
  /* Set the desired width and height for the container */
  width: 100%;
  height: 100%;
}

.scroll-icon {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  background: #e0e0ff;
  padding: 5px;
  border-radius: 5px;
  border: 3px solid #cbdfff;
  font-family: "Lexend";
  font-size: 0.8rem;
}

.chat-container-main {
  width: 90%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.eval-div {
  width: 80%;
  margin: auto;
}

.chat-area-main {
  margin: 5px;
  border: 1px solid black;
  min-height: 300px;
  max-height: 40vh;
  width: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

.messages-left {
  position: absolute;
  top: 0px;
  left: 50%;
  translatex: -50%;
  transform: translateX(-50%);
  width: 100%;
}

.messages-left-text {
  background-color: #f68888;
  padding: 5px;
  border: 1px solid black;
  font-weight: 500;
}

.message {
  background-color: red;
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.AI-message {
  background-color: #efcdcd;
  border-radius: 5px 5px 5px 0px;
}

.user-message {
  background-color: #d1d1ff;
  border-radius: 5px 5px 0px 5px;
}

.recording-button {
  width: 100%;
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
}

.send-button {
  max-width: 350px;
  margin: 0px 10px;
}

.leave-button {
  max-width: 350px;
  margin: auto;
  margin-top: 50px;
}

.initialisation-form {
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-sender {
  margin-bottom: 0px;
  text-align: left;
  font-size: 10px;
  font-weight: 700;
}

.user-sender {
  text-align: right;
}

.initialisation-audio-text {
  font-size: 1rem;
  font-weight: 600;
  margin: 10px;
  color: #0039ff;
  width: 90%;
  margin: auto;
  text-align: right;
  opacity: 0.5;
  padding: 10px;
}

.initialisation-muted {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}

.initialisation-bold {
  font-size: 0.9rem;
  font-family: Lexend;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 5px;
}

@media only screen and (max-width: 600px) {
  .assessment-landing-header-text {
    font-size: 9vw;
  }

  .assessment-landing-header-selected {
    margin: 5px;
    width: calc(100vw - 10px);
  }

  @keyframes slidein {
    from {
      margin: 0px;
      padding: 20px 50px 20px 50px;
      gap: 10px;
      background-color: #f8b8b8;
      border: 0px solid black;
    }

    to {
      margin: 5px;
      gap: 0;
      border-radius: 5px;
      background: #f8b8b8;
      border: 3px solid #000000;
    }
  }

  /* Landing intro */
  .negotiation-landing-img {
    width: 0;
    height: 0;
  }

  .negotiation-instructions {
    width: 90%;
  }
}
