.progress-div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.progress-bar-div {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.progress-item {
  height: 20px;
  border-radius: 10px;
  background-color: #f6f6f6;
}

.furthest {
  background-color: #d3f5ff;
}

.question-answered-green {
  background-color: #8bc399;
}

.question-answered-red {
  background-color: brown;
}

.text-completed {
  background-color: #458dc9;
}

.current-item {
  outline: 2px solid slategray;
}

.movement-button {
  background-color: #3b71e7;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  border: none;
}
