.text-bold {
  font-weight: 700 !important;
}

.streak-day {
  height: calc(20vh * 0.7);
  border: 2px solid black;
  border-radius: 20px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2px;
  min-height: 120px;
  background-color: white;
}

.yellow-streak {
  border: 2px solid #e9b350;
  background-color: #fff5d9;
}

.blue-streak {
  border: 2px solid #3483eb;
  background-color: #e1f5f4;
}

.streak-day-text {
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  /* identical to box height */
  margin: 0;
  color: #000000;
}

@media only screen and (max-width: 700px) {
  .streak-day {
    width: 13vw;
  }

  .streak-day-text {
    font-size: 1rem;
  }
}
