.login-home {
  position: absolute;
  top: -50px;
  left: 0;
  height: calc(100vh + 100px);
  width: 100vw;
  display: flex;
  align-items: center;
  z-index: -1;
  background-color: #e3ffea;
}

.login-section {
  width: 60vw;
  height: 100%;
  background-color: #e3ffea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.alt-auth {
  height: 75px;
  width: 75px;
}

.login-divider {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.login-divider > p {
  margin: 0;
}

.login-divider > div {
  width: 45%;
  outline: 1px solid #3f3f3f;
  height: 0;
}

.various-authentication {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.login-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.login-input {
  width: 100%;
  background: #ffffff;
  border: 1px solid #575757;
  border-radius: 5px;
}

.login-button {
  width: 30%;
  padding: 3%;
  background: #bcf2c9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  outline: none;
  border: none;
}

.login-title {
  min-height: 5vh;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  color: var(--white);
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-decoration: underline;
}

.login-page {
  width: 100vw;
  height: 100vh;
}

.side-body {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 60%;
  background: white;
}

.side-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-title {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  color: #282828;
}

.side-text-body {
  width: 60%;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  color: #4b4b4b;
}

.side-button {
  margin-top: 20px;
  padding: 2% 10%;
  background: #e3ffea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border: none;
}

.slide-in {
  animation: slide-in 1s forwards;
  -webkit-animation: slide-in 1s forwards;
}

.slide-in-right {
  animation: slide-in-right 1s forwards;
  -webkit-animation: slide-in-right 1s forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(000%);
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(200%);
    left: 200%;
  }
  100% {
    -webkit-transform: translateX(0%);
    left: 60%;
  }
}

/* If the display is less than 600 it's a mobile device*/
@media only screen and (max-width: 700px) {
  .login-section {
    width: 100vw;
  }

  .login-body {
    width: 80vw;
  }
}
