.footer-main {
  width: 100%;
  min-height: 30%;
  background-color: var(--green);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-main-top {
  min-height: 50%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 3px solid black;
}

.footer-information {
  min-width: 300px;
  width: 70%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 3%;
}

.footer-information-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex: 1;
  margin: auto;
}

.footer-information-heading {
  font-weight: 700;
  font-size: 20px;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  text-decoration-line: underline;

  color: var(--black);
}

.footer-information-links {
  padding-left: 5%;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid black;
}

.footer-information-links > a {
  text-decoration: none;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  /* identical to box height */
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: var(--black);
  width: max(50%, 100px);
}

.footer-available-on {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 300px;
  width: 20%;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 3%;
}

.footer-available-on-items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  font-size: 15px;
  color: var(--light-grey);
  align-items: center;
}

.footer-available-on-items > img {
  height: 50px;
  width: 50px;
}

.footer-available-on-items > p {
  margin: 0px;
}

.footer-main-bottom {
  min-height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-bottom-div {
  width: 80%;
  margin: auto;
  height: 100%;
  border-top: #222222 solid 1px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  color: var(--black);
  margin: 10px 0px;
  box-sizing: border-box;
}

.footer-bottom-div > p {
  margin: 10px;
}
