.pricing-side-panel {
  width: 25vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing-side-card {
  width: 100%;
  height: 80%;
  border-radius: 20px;
  background: linear-gradient(
    179.98deg,
    #82b78f 0.02%,
    #8bc399 53.14%,
    #81b38e 96.41%
  );
  border: 5px solid #fafffb;
  box-shadow: inset -0px -1px 1px rgba(0, 0, 0, 0.25),
    inset 0px 1px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.side-panel-title,
.side-panel-subtext {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 48px;
  text-decoration-line: underline;
  color: #ffffff;
}

.side-panel-text {
  text-align: left;
  width: 80%;
}

.side-panel-subtext {
  font-weight: 300;
  font-size: 30px;
}

.side-panel-image {
  height: 40%;
  aspect-ratio: 1;
}
