.captions {
  left: 25%;
  width: 50%;
  bottom: 15%;
  background-color: white;
  border: 2px solid black;
  padding: 10px;
}

.caption-title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  text-align: left;
  color: #000000;
}

.caption-subtext {
  font-style: normal;
  font-weight: 400;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  text-align: left;

  color: #000000;
}
