:root {
  --green: #e4ffb7;
  --light-green: #f6ffe8;
  --green-dark: #b3c29a;
  --white: #ffffff;
  --black: #000000;
  --light-grey: #989898;
  --light-blue: #4a5bb5;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fcfffc inset !important;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
body::-webkit-scrollbar {
  display: none;
}

.green-text {
  color: #499b80;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--white);
}
