/* Course Card CSS */
.academy-content-course {
  background: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  height: 240px;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  -webkit-animation: boxshadowin 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: boxshadowin 5s; /* Firefox < 16 */
  -ms-animation: boxshadowin 5s; /* Internet Explorer */
  -o-animation: boxshadowin 5s; /* Opera < 12.1 */
  animation: boxshadowin 5s;
  text-decoration: none;
  border: 1px solid black;
}

.academy-content-course:hover {
  background: var(--light-green);
  height: 250px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
}

.locked:hover {
  background: #ffc4c4;
}

.locked-text {
  color: #ca0000;
  font-size: 12px;
}

.academy-content-course > * {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}

.academy-content-course-image {
  flex: 6;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.academy-content-course-image-data {
  aspect-ratio: 1/1;
  width: 150px;
}

.academy-content-course-title {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 500;
  font-size: 18px;
  text-align: left;
  display: flex;
  align-items: flex-end;
  margin: 0;
  color: var(--black);
}

.academy-content-course-description {
  font-size: 12px;
  text-align: left;
}

.academy-content-course-title > p {
  margin: 5px;
}

.academy-content-course-info,
.academy-content-course-info-hover {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
  padding: 2% 10%;
  font-weight: 400;
  font-size: 10px;
  color: var(--black);
}

.academy-content-course-info-hover {
  flex: 0;
}

.academy-content-course-subtext {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: left;
  text-align: left;
  align-items: center;
  box-sizing: border-box;
  padding: 2% 10%;
  font-weight: 400;
  font-size: 13px;
  color: var(--black);
}

.academy-content-course-subtext > p {
  margin: 0;
}

.academy-content-course-info > p,
.academy-content-course-info-hover > img {
  margin: 0px 10px;
}

.academy-content-course-info > img,
.academy-content-course-info-hover > img {
  height: 20px;
  width: 20px;
}

.course-card-profile {
  width: 80%;
  height: 80%;
  background: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.course-progress-bar-container {
  width: 80%;
  height: 5px;
  border-radius: 10px;
  background-color: #efefef;
  position: relative;
  border: 1px solid black;
  margin: 0px 0px 10px 0px;
}

@media screen and (max-width: 900px) {
  .academy-content-course {
    height: 185px;
  }

  .academy-content-course:hover {
    height: 190px;
  }

  .academy-content-course-image-data {
    height: 97px;
    width: auto;
  }

  .academy-content-course-title > p {
    margin: 2px;
    font-size: 0.9rem;
  }

  .academy-content-course-info > p {
    font-size: 0.5rem;
  }

  .academy-content-course-info > img {
    height: 15px;
    width: 15px;
  }
}
