.content-locked-full-div {
  min-height: 50vh;
  width: 100vw;
  background-color: #ff98b7;
  position: relative;
  overflow: hidden;
}
.stopwatch-font {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: var(--white);
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  margin: 10px 5px;
}

.countdown-div {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-locked-mobile-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}

.content-locked-desktop-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}

.content-locked-button {
  background: #dbffe2;
  border: 3px solid black;
  border-radius: 10px;
  justify-content: center;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #000000;
  padding: 15px 20px;
}

.content-locked-button:focus,
.content-locked-button:hover {
  background: #91d0a6;
  border: 3px solid #000;
  color: black;
}

.content-background-image {
  position: absolute;
  top: -50px;
  left: 0;
  z-index: 0;
  object-fit: contain;
  width: 100%;
}

.content-body-div {
  z-index: 1;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .content-locked-title-div,
  .stopwatch-font {
    font-size: 40px;
  }

  .countdown-div {
    min-height: 100px;
  }

  .content-locked-full-div {
    min-height: 0;
  }

  .content-background-image {
    width: auto;
  }
}
