.login-home {
  position: absolute;
  top: 0;
  left: 0;
  min-height: calc(100vh + 100px);
  padding: 50px 0px;
  width: 100vw;
  display: flex;
  align-items: center;
  z-index: -1;
}

.login-section {
  width: 50vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.side-body {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  padding: 5%;
  background: #e3ffea;
  outline: 2px solid black;
}

.side-body > * {
  animation: 2s fadein;
}

.side-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-title,
.auth-sub-text,
.auth-form-title,
.auth-text {
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 36px;
  color: #343030;
  width: 100%;
  text-align: left;
  margin: 0;
  font-family: "Lexend", serif;
}

.auth-text,
.auth-switch {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
}

.auth-sub-text {
  font-weight: 500;
  font-size: 1rem;
  color: #7e7e7e;
}

.auth-form-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
  width: min(90%, 420px);
  flex: none;
  order: 1;
  flex-grow: 0;
  animation: 2s fadein;
}

.login-with-google-button {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  min-width: 300px;
  height: 40px;

  background: #ffffff;
  border: 1px solid #505050;
  border-radius: 30px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

.login-with-google-button:hover {
  background-color: #e3ffea;
}

.login-with-google-button > p {
  color: #505050;
  font-weight: 500;
  font-size: 14px;
}

.auth-divider {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.auth-divider > p {
  font-size: 0.7rem;
  margin: 0;
  flex: 1;
  letter-spacing: 0.05rem;
}

.auth-divider > div {
  width: 40%;
  border: 1.5px solid #4e4e4e;
  height: 0;
  flex: 1;
}

.auth-form {
  min-width: 320px;
  text-align: left;
  width: 95%;
}

.auth-form-title {
  font-weight: 700;
  font-size: 1rem;
  color: black;
  margin-bottom: 10px;
}

.auth-form-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
  width: 100%;

  border: 1px solid #bbbbbb;
  border-radius: 5px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.bottom-text-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.remember-me-checkbox {
  display: flex;
  align-items: center;
}

.remember-me-checkbox > p {
  margin-bottom: 0;
  margin-left: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
}

.auth-link {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  text-decoration-line: underline;
  color: #499b80;
}

.auth-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  margin: 15px 0px;
  gap: 26px;
  width: 80%;
  height: 50px;
  background: #e3ffea;
  border: 2px solid #000000;
  border-radius: 10px;
}

.auth-button-text {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0;
}

/* If the display is less than 600 it's a mobile device*/
@media only screen and (max-width: 700px) {
  .login-section {
    width: 100vw;
    padding: 40px 0px;
  }

  .login-body {
    width: 80vw;
  }

  .login-home {
    align-items: flex-start;
  }
}
